# AWS
AWS_ACCESS_KEY_ID=sua_chave_aqui
AWS_SECRET_ACCESS_KEY=sua_secret_aqui
AWS_DEFAULT_REGION=sa-east-1
S3_BUCKET=nome-do-seu-bucket

# Supabase (PostgreSQL)
SUPABASE_HOST=db.xxxxx.supabase.co
SUPABASE_PORT=5432
SUPABASE_DB=postgres
SUPABASE_USER=postgres
SUPABASE_PASSWORD=sua_senha_aqui

# MongoDB
MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/
MONGODB_DB=nome_do_banco
